<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media</title>
    <link rel="stylesheet" href="/stylesheets/style3.css">
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="nav">
        <div class="nav-left">
            <img src="/images-profile/logo.png" class="logo" alt="">
            <ul>
                <li><img src="/images-profile/notification.png" alt=""></li>
                <li><img src="/images-profile/video.png" alt=""></li>
                <li><img src="/images-profile/inbox.png" alt=""></li>
            </ul>
        </div>

        <div class="nav-right">

            <div class="search-box">
                <img src="/images-profile/search.png" alt="">
                <input type="text" placeholder="Pesquisar...">
            </div>
            <div class="nav-user-icon online" onclick="configMenu()">
                <img src="/images-profile/profile-pic.png" alt="">
            </div>

        </div>
<!-------menu interativo------->
        <div class="settings-menu">
            <div class="settings-menu-inner">
                <div class="user-profile">
                    <img src="/images-profile/profile-pic.png" alt="">
                <div>
                <div class="user-profile">
                    <p>Roberto da Costa</p>
                    <a href="#">Ver perfil</a>    
                </div>
            </div>
            <hr>
            <div class="user-profile">
                <img src="/images-profile/feedback.png" alt="">
                <div>
                    <p>Feedback</p>
                    <a href="#">Ajude-nos a melhorar nosso design!</a>
                </div>
                <hr>
                <div class="settings-links">
                    <img src="/images-profile/setting.png" class="setting-icon" alt="">
                    <a href="#">Configurações & Privacidade <img src="/images-profile/arrow.png" class="settings-links-arrow" alt=""></a>
                </div>
                <div class="settings-links">
                    <img src="/images-profile/help.png" class="setting-icon" alt="">
                    <a href="#">Suporte <img src="/images-profile/arrow.png" class="settings-links-arrow" alt=""></a>
                </div>
                <div class="settings-links">
                    <img src="/images-profile/logo.png" class="setting-icon" alt="">
                    <a href="#">Display & Acessibilidade<img src="/images-profile/arrow.png" class="settings-links-arrow" alt=""></a>
                </div>
                <div class="settings-links">
                    <img src="/images-profile/logout.png" class="setting-icon" alt="">
                    <a href="#">Logout<img src="/images-profile/arrow.png" class="settings-links-arrow" alt=""></a>
                </div>


            </div>
            </div>
            
    </div>


    </nav>

    <div class="container">
        <!-----------------left sidebar--------------->
        <div class="left-sidebar">
            <div class="imp-links">
                <a href="#"><img src="/images-profile/home-icon.png" alt="">Home</a>
                <a href="#"><img src="/images-profile/vector.png" alt="">Salvos</a>
                <a href="#"><img src="/images-profile/events-icon.png" alt="">Eventos</a>
                <a href="#"><img src="/images-profile/Group.png" alt="">Compartilhamentos</a>
                <a href="#"><img src="/images-profile/gallery-icon.png" alt="">Galeria</a>
                <a href="#">Veja mais</a>
            </div>
            <div class="shortcut-links">
                   <p>Seus Atalhos</p>
                   <a href="#"><img src="/images-profile/game-icon.png" alt="">Endless Space 2</a>
                   <a href="#"><img src="/images-profile/sekiro.png" alt="">Sekiro - Shadow Dies Twice</a>
                   <a href="#"><img src="/images-profile/shortcut-3.png" alt="">Full Stack Development</a>
                   <a href="#"><img src="/images-profile/cod-logo.png" alt="">Call of Duty - Lives</a>
            
            </div>
        </div>
        <!-----------------main content--------------->
        <!-----------------main content--------------->
        <!-----------------main content--------------->
        <div class="main-content">

            <div class="content-menu">
                <nav><a href="#"><img src="/images-profile/suitcase.png" alt=""> Status</a>
                    <a href="#"><img src="/images-profile/gallery-icon-1.png" alt="">Galeria</a>
                    <a href="#"><img src="/images-profile/video-play-16.png" alt="">Vídeos</a>
                    </nav>
            </div>

            <div class="comment-box">
                <textarea name="comment" id="" cols="50" rows="10" placeholder="Escreva o que você está pensando..."></textarea>
                <div class="comment-img"><img src="/images-profile/profile-pic.png" alt=""></div>
            </div>   
            <div class="reaction-box">
                <nav>
                    <a href="#">Check In<img src="/images-profile/check-in.png" alt=""></a>
                    <a href="#">Reação<img src="/images-profile/emoji.png" alt=""></a>
                </nav>
            </div>
            
            
<!--Container number 1 --------------------------------------------------------->
<!--Container number 1 --------------------------------------------------------->
<!--Container number 1 --------------------------------------------------------->
           <div class="live-streams">
               <div class="stream-img-profile">
                <img src="/images-profile/profile-pic.png" alt="" class="stream-img"> <h5 class="p-2">Roberto da Costa</h5>
                <p class="p">fez uma </p> <h6 class="p-1">transmissão</h6> <p class="p">(Há 45 minutos)</p>
            </div>
            
            <div>
                <img src="/images-profile/live-stream-img.png" alt="">
                
            </div>
                <div class="grey-container">
                    <h3>Bate papo muito divertido com Zé Felipe e Virgínia!!</h3> <br>
                    <p>Uma breve descrição do que aconteceu na transmissão e resumo...</p>
                </div>
                <div class="reactions">
                    <nav>
                        <a href="#"><img src="/images-profile/heart.png" alt="">3450</a>
                        <a href="#"><img src="/images-profile/message-box.png" alt="">465</a>
                        <a href="#"><img src="/images-profile/feather_share.png" alt="">743</a>
                    </nav>
                </div>
           </div>
<!--Container number 2 --------------------------------------------------------->
<!--Container number 2 --------------------------------------------------------->
<!--Container number 2 --------------------------------------------------------->

<div class="live-streams">
    <div class="stream-img-profile">
     <img src="/images-profile/profile-pic.png" alt="" class="stream-img"> <h5 class="p-2">Roberto da Costa</h5>
     <p class="p">fez uma </p> <h6 class="p-1">transmissão</h6> <p class="p">(Há 4 horas)</p>
 </div>
 
 <div>
     <img class="img-round"  src="/images-profile/Elden_Ring_capa.jpg" alt="">
     
 </div>
     <div class="grey-container">
         <h3>Novo trailer de Elden Ring é anunciado!!!</h3> <br>
         <p>O novo jogo de Hidetaka Myazaki está no caminho, apesar de ainda não possuir uma data de lançamento...</p>
     </div>
     <div class="reactions">
         <nav>
             <a href="#"><img src="/images-profile/heart.png" alt="">5467</a>
             <a href="#"><img src="/images-profile/message-box.png" alt="">564</a>
             <a href="#"><img src="/images-profile/feather_share.png" alt="">821</a>
         </nav>
     </div>
</div>
<!--Container number 3 --------------------------------------------------------->
<!--Container number 3 --------------------------------------------------------->
<!--Container number 3 --------------------------------------------------------->

<div class="live-streams">
    <div class="stream-img-profile">
     <img src="/images-profile/profile-pic.png" alt="" class="stream-img"> <h5 class="p-2">Roberto da Costa</h5>
     <p class="p">fez uma </p> <h6 class="p-1">transmissão</h6> <p class="p">(Há 5 horas)</p>
 </div>
 
 <div>
     <img class="img-round" src="/images-profile/dicas-hardware.jpg" alt="">
     
 </div>
     <div class="grey-container">
         <h3>Dicas Hardware - Semana PC-Gamer</h3> <br>
         <p>Confira dicas quem entende do assunto! Como deixar seu PC mais veloz e pronto para qualquer Game...</p>
     </div>
     <div class="reactions">
         <nav>
             <a href="#"><img src="/images-profile/heart.png" alt="">1270</a>
             <a href="#"><img src="/images-profile/message-box.png" alt="">355</a>
             <a href="#"><img src="/images-profile/feather_share.png" alt="">800</a>
         </nav>
     </div>
</div>


 <!--final main content do not forget!!!-->       </div>


        
        <!-----------------sidebar da direita--------------->
        <!-----------------conteúdo principal--------------->
        <!-----------------conteúdo principal--------------->

        <div class="right-sidebar">

            <div class="sidebar-title">
                <h4>Eventos</h4>
                <a href="#">Ver Tudo </a>
            </div>

            <div class="event">   
                <div class="left-event">
                    <h3>24</h3>
                    <span>Setembro</span>
                </div>
                <div class="right-event">
                    <h4>Explorando a saga Souls</h4>
                    <p><i class="fas fa-map-marker-alt"></i> Live - Dark Souls 3</p>
                    <a href="#">Mais Informações</a>
                </div>
            </div>
            <div class="event">   
                <div class="left-event">
                    <h3>10</h3>
                    <span>Dezembro</span>
                </div>
                <div class="right-event">
                    <h4>De FF I à FF XIII-2</h4>
                    <p><i class="fas fa-map-marker-alt"></i> Final Fantasy - live de caridade</p>
                    <a href="#">Mais Informações</a>
                </div>
            </div>
            <div class="sidebar-title">
                <h4>Propagandas</h4>
                <a href="#">Fechar</a>
            </div>
            <img src="/images-profile/advertisement.png" class="sidebar-ads" alt="">
           
            <div class="sidebar-title">
                <h4>Conversas</h4>
                <a href="#">Minimizar</a>
            </div>

            <div class="online-list">
                <div class="online">
                    <img src="/images-profile/member-1.png" alt="">
                </div>
                <p>Julia Moraes</p>
            </div>
            <div class="online-list">
                <div class="online">
                    <img src="/images-profile/member-2.png" alt="">
                </div>
                <p>Alfredo Costa</p>
            </div>
            <div class="online-list">
                <div class="online">
                    <img src="/images-profile/member-3.png" alt="">
                </div>
                <p>Angela Barbosa</p>
            </div>
        </div>
    </div>
<script src="/javascripts/script.js"></script>
</body>
</html>