*{
    margin: 0;
    padding: 0;
}

body, html, main{
    height: 100%;
    width: 100%;
}

body{
    background: url(/images/backgroundNews.png) no-repeat fixed center hsl(282, 96%, 11%);
}

.barrasFixas{
    display: grid;
    grid-gap: 5px;
    grid-template-areas: "s s s"
                         "e f d"  ;
    grid-template-columns: 1.5fr 7fr 1fr;
    grid-template-rows: 10vh 90vh;

}

.superior{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 21px;
    grid-area: s;
}

.superiorFilho{
    display: grid;
    grid-template-areas: "l c h";
    grid-template-columns: 1.5fr 7fr 1fr;
    grid-template-rows: 10vh;
}

.logo{
    grid-area: l;
    margin-top: 10px;
    margin-left: 20px;
}

.exLogo{
    border-radius: 31px;
}

.paginas{
    grid-area: c;
    margin-top: 20px;
}

.d-flex .form-control{
    background-color: rgba(196, 196, 196 , 0.19);
    border-radius: 31px;
    height: 50px;
    margin-bottom: -10px;
}

.nav-link{
    padding-bottom: 20px;
}

.nav-item a{
    font-size: 30px;
    margin-right: 150px;
}

.d-flex .btn-outline-success {
    border-color: #ffffff;
    border-radius: 21px;
    color: #ffffff;
    height: 50px;
}
    
    

.perfil{
    grid-area: h;
    display: flex;
    justify-content: flex-end;
}

.exPerfil{
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-right: 20px;
}

.categorias{
    text-align: center;
}

.categorias a{
    text-decoration: none;
}

.categorias a span{
    opacity: 0.9;
}

.esquerda{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 21px;
    grid-area: e;
    
}

.caixaEsquerda{
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
}

.caixaEsquerda a{
    margin: 15px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.caixaEsquerda a img{
    margin-right: 10px;
    width: 15px;
}

.caixaEsquerda h3{
    color: #A19E9E;
    margin-top: -5px;
    margin-bottom: 25px;
    margin-left: 20px;
}


.caixaFeed{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 21px;
    grid-area: f;
}

.caixaFeed .tituloNews h1{
    background-image: linear-gradient( #06FDDF  31.25%, rgba(255, 255, 255, 0)  100%);
    background-clip: text;
    color: black;
    font-size: 40px;
    text-align: center;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.caixaFeed .tituloNews h2{
    background-image: linear-gradient( #06FDDF  31.25%, rgba(255, 255, 255, 0)  100%);
    background-clip: text;
    color: black;
    font-size: 30px;
    text-align: center;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.caixaFeed .card{
    margin: 20px;
    background-color: #959090;
    border-radius: 21px;
}

.card-img, .card-img-top {
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
}

.card .btn{
    border-radius: 21px;
}

.direita{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 21px;
    grid-area: d;
}