*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: white;
}

body, html{
  height: 100%;
  width: 100%;
}

body {  
  background: url(/images/backgroundLogin.png) no-repeat fixed center hsl(282, 96%, 11%);
  display: flex;
  flex-direction: column;
}

.botao{
  background: radial-gradient(50% 50% at 50% 50%, rgba(66, 0, 254, 0.83) 60.42%, rgba(66, 0, 254, 0) 100%);
  border: none;
  color: white;
  width: 150px;
  height: 15px;
  font-size: 15px;
  margin-bottom: 30px;
}

.gridLogin{
  display: grid;
  grid-template-areas: ". c ."
                       ". l .";
  grid-template-columns: 1.52fr 3.9fr 1.52fr;
  grid-template-rows: 10vh 70vh;
}

.caixaLogin{
  align-self: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 31px;
  display: flex;
  flex-direction: column;
  grid-area: l;
  height: 500px;
  justify-content: center;
  width: 500px;
  margin: auto
}

.caixaMenu{
  flex-direction: row;
  flex-wrap: wrap;  
  grid-area: c;
  width: 100%;
  margin: auto;
}

.gridLoginFilho{
  display: grid;
  grid-template-areas: "l m";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 10vh;
  width: 100%;
}

.logo{
  grid-area: l;
  margin: 20px;
}

.menu{
  grid-area: m;
  display: flex;
  justify-content: flex-end;
}


.menu a{
  padding: 20px;  
  margin-top: 25px;
  margin-right: 20px;
}

.caixaLoginCad{
  align-self: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 31px;
  display: flex;
  flex-direction: column;
  grid-area: l;
  height: 500px;
  justify-content: center;
  width: 650px;
  margin: auto;
}


.divisoria{
  background: rgba(196, 196, 196, 0.5);
  height: 5px;
  width: 350px;
  border-radius: 50px;
}

.entre{
  padding: 20px;
  color: white;

}

body header{
  width: 100%;

}

header{
  display: flex;
  flex-direction: row;
}

hr{
  width: 70%;
}




.login{
  display: flex;
  align-items:center ;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  width: 100%;
  border-radius: 21px;
  text-align: center;
}

input, select{
  padding: 10px;
  width: 250px;
  border-radius: 21px;
  text-align: center;
}



body .logoUsuario{
  align-self: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 62%, rgba(0, 0, 0, 0) 50%);
  border-radius: 50px;
  height: 80px;
  justify-content: center;  
  margin-top: -100px;
  width: 80px;
  z-index: 1;
}

body .logoUsuarioCad{
  align-self: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 62%, rgba(0, 0, 0, 0) 50%);
  border-radius: 50px;
  height: 80px;
  justify-content: center;  
  margin-top: -134px;
  width: 80px;
  z-index: 1;
}


.loginRedes{
  padding: 20px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}




.problemaDeLogin{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}


.redes{
  width: 40px;
}

.redesG{
  width: 37px;
}

.usuario, .senha{
  background: linear-gradient(180deg, rgba(186, 184, 184, 0) 0%, rgba(186, 184, 184, 0.85) 75.52%);
}


::-webkit-input-placeholder{
  color: rgba(203, 203, 203,0.6);
  font-weight: bold;
}